In [1]:
# Importing required libraries
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
# Loading the data and creating DataFrame
df = pd.read_csv('./data/data_eda.csv')

In [5]:
# Checking the data
df.head()

,log_price,price,review_scores_rating,has_availability,property_type,instant_bookable,number_of_reviews_ltm,availability_60,review_scores_checkin,room_type,...,beds,host_response_time,host_is_superhost,bedrooms,latitude,minimum_nights,reviews_per_month,availability_90,bathrooms_text,availability_365
0,6.150603,469.0,100.0,True,14,False,0,0,10.0,0,...,7.0,1,False,5.0,43.64590,28,0.10,0,11,0
1,4.543295,94.0,97.0,True,21,True,0,60,10.0,2,...,1.0,0,False,1.0,43.64080,180,1.19,90,5,365
2,4.276666,72.0,95.0,True,36,True,0,60,10.0,2,...,1.0,1,False,1.0,43.69805,28,1.64,90,4,365
3,4.605170,100.0,93.0,True,14,False,2,0,10.0,0,...,2.0,4,False,2.0,43.63539,30,0.86,8,2,283
4,4.532599,93.0,99.0,True,24,False,1,58,10.0,2,...,2.0,3,False,2.0,43.74922,2,0.60,88,3,363